; begin auth token
//pkgs.dev.azure.com/paschoalotto/CRM/_packaging/CRM.Frontend/npm/registry/:username=paschoalotto
//pkgs.dev.azure.com/paschoalotto/CRM/_packaging/CRM.Frontend/npm/registry/:_password=[N3g0NjVnanRjbWV3YjdtbnBqMmtkdGJmcHp6bnA2ZTJ2ZjJzdHBtZW9zdGlldTR1cGd0cQ==]
//pkgs.dev.azure.com/paschoalotto/CRM/_packaging/CRM.Frontend/npm/registry/:email=mkmarques@paschoalotto.com.br
//pkgs.dev.azure.com/paschoalotto/CRM/_packaging/CRM.Frontend/npm/:username=paschoalotto
//pkgs.dev.azure.com/paschoalotto/CRM/_packaging/CRM.Frontend/npm/:_password=[N3g0NjVnanRjbWV3YjdtbnBqMmtkdGJmcHp6bnA2ZTJ2ZjJzdHBtZW9zdGlldTR1cGd0cQ==]
//pkgs.dev.azure.com/paschoalotto/CRM/_packaging/CRM.Frontend/npm/:email=mkmarques@paschoalotto.com.br
; end auth token